.lista__titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-coral);
    font-size: 1.25rem;
}

hr {
    border: none;
    border-bottom: dotted 2px var(--cor-coral);
    margin: 1rem 0 2rem;
}

.lista__itens {
    color: var(--cor-marinho);
}

.lista__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lista__checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

.lista__item p {
    margin-right: auto;
}

.lista__item button {
    background-color: transparent;
    border: none;
}

.lista__botao {
    width: 1rem;
}

.lista__botao--menor {
    width: 0.8rem;
}

.lista__data {
    margin: 0.8rem 0 1rem;
    font-size: 0.875rem;
}