@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('formulario.css');
@import url('listas.css');

:root {
    --cor-branco: #FBFBFB;
    --cor-cinza-claro: #F9F9F9;
    --cor-texto-placeholder: #8A8A8A;
    --cor-coral: #F55B64;
    --cor-ocre: #C2373F;
    --cor-marinho: #131730;
    --cor-marinho-degrade: linear-gradient(180deg, #010103 0%, #24307A 100%);
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Numans", sans-serif;
    --fonte-placeholder: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background: var(--cor-marinho-degrade);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: var(--fonte-texto);
}

main {
    background-color: var(--cor-branco);
    width: 100%;
    margin: 2em 1em;
    padding: 3.375rem 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
